<body class="text-center">
    <div id="bookISBN">
        <%=bookObj.isbn%>
    </div>
    
    <h2 id="bookTitle">
        <%=bookObj.title%>
    </h2>
    
    <div id="bookDate">Date read : <%=bookObj.date_read%></div>
    
    <div id="bookRating">How strongly I recommend it : <%=bookObj.rating%></span>
    </div>
    
    
    <div id="bookDescription">
        <%=bookObj.description%>
    </div>

    <div id="bookNotes">
        <%=bookObj.notes%>
    </div>

    <button id="edit" class="edit" onclick="handler()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
    </button>
        
    
    <form class="edit" action="/edit" method="POST">

        <!-- Book ID -->
        <div class="form-field">
            <input type="hidden" id="bookId" name="bookId" value="<%= bookObj.id %>">
            <label for="bookId" id="bookIdLabel" hidden>Book ID:</label>
        </div>
        
        <!-- Book Title -->
        <div class="form-field">
            <input hidden id="bookTitleEdit" name="bookTitleEdit" value="<%= bookObj.title %>">
            <label for="bookTitleEdit" id="bookTitleEditLabel" hidden>Book Title:</label>
        </div>
        
        <!-- ISBN -->
        <div class="form-field">
            <input hidden id="bookISBNEdit" name="bookISBNEdit" value="<%= bookObj.isbn %>">
            <label for="bookISBNEdit" id="bookISBNEditLabel" hidden>ISBN:</label>
        </div>
        
        <!-- Publish Date -->
        <div class="form-field">
            <input hidden type="date" id="bookDateEdit" name="bookDateEdit" value="2025-01-01">
            <label for="bookDateEdit" id="bookDateEditLabel" hidden>Publish Date:</label>
        </div>
        
        <!-- Rating -->
        <div class="form-field">
            <input hidden id="bookRatingEdit" name="bookRatingEdit" value="<%= bookObj.rating %>">
            <label for="bookRatingEdit" id="bookRatingEditLabel" hidden>Rating:</label>
        </div>
        
        <!-- Description -->
        <div class="form-field">
            <input hidden id="bookDescriptionEdit" name="bookDescriptionEdit" value="<%= bookObj.description %>">
            <label for="bookDescriptionEdit" id="bookDescriptionEditLabel" hidden>Description:</label>
        </div>
        
        <!-- Notes -->
        <div class="form-field">
            <textarea hidden id="bookNotesEdit" name="bookNotesEdit" value="<%= bookObj.description %>"></textarea>
            <label for="bookNotesEdit" id="bookNotesEditLabel" hidden>Notes:</label>
        </div>

    

        <button id="done" class="edit" type="submit" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
              </svg>
        </button>
    
    </form>


</body>

<%- include('partials/footer.ejs'); -%>

<script>
    function handler() {
      document.getElementById("bookTitle").setAttribute("hidden", true)
      document.getElementById("bookISBN").setAttribute("hidden", true)
      document.getElementById("bookDate").setAttribute("hidden", true)
      document.getElementById("bookRating").setAttribute("hidden", true)
      document.getElementById("bookDescription").setAttribute("hidden", true)
      document.getElementById("bookNotes").setAttribute("hidden", true)

      document.getElementById("edit").setAttribute("hidden", true)
      document.getElementById("done").removeAttribute("hidden")

      document.getElementById("bookTitleEdit").removeAttribute("hidden")
      document.getElementById("bookISBNEdit").removeAttribute("hidden")
      document.getElementById("bookDateEdit").removeAttribute("hidden")
      document.getElementById("bookRatingEdit").removeAttribute("hidden")
      document.getElementById("bookDescriptionEdit").removeAttribute("hidden")
      document.getElementById("bookNotesEdit").removeAttribute("hidden")
      
      document.getElementById("bookTitleEditLabel").removeAttribute("hidden")
      document.getElementById("bookISBNEditLabel").removeAttribute("hidden")
      document.getElementById("bookDateEditLabel").removeAttribute("hidden")
      document.getElementById("bookRatingEditLabel").removeAttribute("hidden")
      document.getElementById("bookDescriptionEditLabel").removeAttribute("hidden")
      document.getElementById("bookNotesEditLabel").removeAttribute("hidden")



    }

</script>

